<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include partials/head.ejs %>

    <!--<link rel='stylesheet' href='/dist/stylesheets/style.css'/>-->
</head>
<body>
<section>


    <h1 class="uikit-header"><%= title %></h1>

    <p>Welcome to <%= title %></p>
</section>
<% include partials/footer.ejs %>
</body>
</html>
