@import "~uikit/src/scss/variables-theme.scss";
@import "~uikit/src/scss/mixins-theme.scss";
@import "~uikit/src/scss/uikit-theme.scss";

body {
  min-height: 100vh;
  background: {
    color: transparentize(#FFFFFF, 0.2);
  }
;
}

main {
  flex: 1 0 auto;

}

h1 {
  text-align: center;
}